.wrapper{
    padding: 5vw 3vw 0vw 3vw;
}

.heading{
    padding-bottom: 2vw;
    border-bottom: 1px solid #2e2e2e;
}

.heading h2{
    font-size: 50px;
    color: #3c3c3c;
    font-weight: lighter;
    cursor: pointer;
}

.heading p{
    color: #2e2e2e;
    font-weight: 100;
    font-size: 20px;
    font-family: helve;
}

.projects_container{
    padding-top: 5vw;
    padding-bottom: 5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.projects_container .box{
    width: 33%;
    height: 100%;
    position: relative;
}

.box video{
    width: 100%;
}

.box img{
    position: absolute;
    width: 100%;
    z-index: 2;
    transition: all linear 0.7s;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.box img:hover{
    opacity: 0;
}

.socials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0vw;
    border-top: 1px solid #2e2e2e;
}

.location{
    display: flex;
    gap: .5vw;
}

.socials p{
    color: #3c3c3c;
    font-size: 1.5vw;
    font-family: helve;
}

@media (max-width:750px){
    .heading{
        flex-direction: column;
        align-items: flex-start;
        gap: 3vw;
        text-align: center;
    }

    .heading h2{
        font-size: 10vw;
    }

    .heading p{
        font-size: 16px;
    }

    .projects_container{
        flex-direction: column;
    }

    .projects_container .box{
        width: 100%;
        height: 40vh;
    }
    .box video{
        display: none;
    }

    .box img{
        object-position: bottom;
    }
    .box img:hover{
        opacity: 1;
    }

    .socials p{
        font-size: 3vw;
    }
}