.wrapper{
    padding: 5vw 3vw 0vw 3vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;   
    gap: 3vw;
}


.heading h2{
    font-size: 50px;
    color: #3c3c3c;
    font-weight: lighter;
    cursor: pointer;
}

.heading p{
    color: #2e2e2e;
    font-weight: 100;
    font-size: 20px;
    font-family: helve;
}

.projects_container{
    display: flex;
    gap: 2vw;
}

.box{
    text-decoration: none;
}

.box img{
    width: 100%;
}

.cta{
    padding-top: .5vw;
}

.cta{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.cta p{
    color: #626262;
    font-family: helve;
    font-size: 20px;
}

.links a{
    font-size: 25px;
}

.links a:nth-child(1){
    color: #68E066;
}
.links a:nth-child(2){
    color: #ED3833;
}

.links{
    display: flex;
    gap: 1vw;
}

.socials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0vw;
    border-top: 1px solid #2e2e2e;
}

.location{
    display: flex;
    gap: .5vw;
}

.socials p{
    color: #3c3c3c;
    font-size: 1.5vw;
    font-family: helve;
}
.socials a{
    text-decoration: none;
    font-size: 1.5vw;
    font-family: helve;
    color: #3c3c3c;
}

@media (max-width:750px){
    .wrapper{
        padding-top: 10vw;
        gap: 8vw;
    }

    .heading h2{
        font-size: 10vw;
    }

    .heading p{
        font-size: 16px;
    }
    
    .links{
        gap: 3vw;
    }

    .projects_container{
        flex-direction: column;
        gap: 8vw;
    }

    .socials p{
        font-size: 3vw;
    }
}
